body {
    background-color: #120f20;
}

h1, button, a {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

input::placeholder {
    color: #c7a2df;
    font-weight: bold;
}

#sign_up-text, #log_in-text {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    color: #c7a2df;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 413px;
    position: relative;
}

#log_in, #sign_up {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #1d1737;
    width: 290px;
    position: absolute;
    top: 150px;
    box-shadow: 0 0 30px 10px #1d1737d6;
}

#log_in {height: 280px;display: none;}
#sign_up {height: 340px;}

#username, #email, #login_username,
#Password, #confirmPassword, #login_password {
    width: 100%;
    padding: 10px 36px 10px 20px;
    border: 0;
    border-radius: 10px;
    color: #ad7ecc;
    background-color: #251e45;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: 20px;
}

#Password { margin-top: -2px; }
#confirmPassword { margin-top: -11px; }

#password-container-1, #password-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

#toggle-icon-1, #toggle-icon-2, #toggle-icon-3, #eye-icon-1, #hidden-eye-icon-1, #eye-icon-2, #hidden-eye-icon-2, #eye-icon-3, #hidden-eye-icon-3 {
    position: absolute;
}

#toggle-icon-1, #toggle-icon-2, #toggle-icon-3, #eye-icon-1, #hidden-eye-icon-1, #eye-icon-2, #hidden-eye-icon-2 {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#toggle-icon-1 img, #toggle-icon-2 img {
    width: 25px;
    height: 25px;
    margin-right: -15px;
    top: 20px;
    /* margin-left: -40px; */
    /* width: 25px; */
    /* height: 25px; */
}

#toggle-icon-1 img {margin-top: -2px;/* top: -50px; *//* margin-left: -40px; *//* width: 25px; *//* height: 25px; */}
#toggle-icon-2 img { margin-top: -6px; }

#eye-icon-3, #hidden-eye-icon-3 {
    top: -50px;
    margin-left: -40px;
    width: 25px;
    height: 25px;
}
#eye-icon-1, #eye-icon-2 { margin-top: 5px; }

#log_in_btn, #sign_up_btn {
    position: relative;
    width: auto;
    background-color: transparent;
    color: #c7a2df;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    top: -15px;
    transition: background-color .3s ease, transform .2s ease;
    outline: none;
    scale: 1.2;
}

#log_in_btn {
    top: 25px;
}

#sign_up_btn {
    top: 5px;
}

#log_in_btn:active, #sign_up_btn:active {
    transform: scale(0.90);
    background-color: #1e134f;
}

#log_in_btn:disabled, #sign_up_btn:disabled {
    background-color: transparent;
    color: #513961;
    cursor: not-allowed;
}

#create_acc1, #create_acc2, #have_acc1, #have_acc2 {
    border: none;
    background-color: transparent;
    color: #c7a2df;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    z-index: 1;
    transition: background-color .3s;
    font-size: 23px;
    font-weight: bold;
}

#create_acc1, #create_acc2 {position: absolute; left: 5px;}
#have_acc1, #have_acc2 {position: relative; left: 152px;}

#create_acc1:active, #create_acc2:active, #have_acc1:active, #have_acc2:active {background-color: #3e1d74d6;}

#redirect_log_in, #redirect_sign_up {
    width: 290px;
    height: 45px;
    border-radius: 7px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

#redirect_log_in {display: none;bottom: -230px;}
#redirect_sign_up {display: block;bottom: -285px;}

#forgot {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #c7a2df;
}