body {
    background-color: #120f20;
    animation: fade .5s;
}

@keyframes fade {
    0% {opacity: .3;}
    100% {opacity: 1;}
}

#menu {
    position: fixed;
    height: 80px;
    width: 101%;
    top: -10px;
    left: -5px;
    background-color: #07031b;
}

#back {
    position: absolute;
    top: 34px;
    left: 16px;
    color: #ae7fce;
    scale: 1.5;
}

a, div {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#title {
    margin: auto;
    display: block;
    height: 35px;
    width: 73%;
    border: 0px;
    font-size: 25px;
    position: absolute;
    top: 27px;
    left: 50px;
    color: #ae7fce;
    background-color: #07031b;
}

#title::placeholder {
    color: #ae7fce;
    opacity: 1;
}

#title:focus {outline: none;}

#note {
    position: fixed;
    top: 90px;
    height: 85%;
    width: 95%;
    left: 5px;
}

#note_input {
    width: 85%;
    height: 75%;
    padding: 1rem;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    resize: none;
    outline: none;
    background: #1c0f2fd1;
    color: #c7c5ff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 130px;
    left: 3%;
    z-index: -1;
}

#note_input::placeholder {color: #c7c5ff;}

#sub-menu_icon {
    position: absolute;
    top: 32px;
    right: 4%;
    color: #b17fd1;
}

#blur_background {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container {
    background-color: #30007d;
    visibility: hidden;
    top: 35px;
    right: 3%;
    position: absolute;
    height: 290px;
    width: 200px;
    border-radius: 15px;
}

#save, #important, #lock, #download, #trash {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #dda9ff;
    font-size: large;
    height: 36px;
    width: 85%;
    border-radius: 10px;
    border: none;
    padding-left: 50px;
    background-color: #1c004a;
    display: flex;
    align-items: center;
}

#save {top: 15px;}
#important {top: 65px;}
#lock {top: 115px;}
#download {top: 165px;}
#trash {top: 215px;}

#save-icon, #important-icon, #lock-icon, #download-icon, #trash-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80%;
    color: #dda9ff;
}

#save:active, #important:active, #lock:active, #download:active #trash:active {background-color: #30007d;}