body {
    background-color: #120f20;
    animation: fade 2s;
}

@keyframes fade {
    0% {opacity: .3;}
    100% {opacity: 1;}
}

#menuopener {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25px;
    height: 30px;
    cursor: pointer;
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 23px;
}

#line {
    width: 100%;
    height: 3px;
    background-color: #575757;
}

#menu-page {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #08002f;
    height: 100%;
    width: 50%;
    transition: left 0.1s ease;
    z-index: 1;
}

#menu-page.slide-in {animation: in 0.3s forwards;}
#menu-page.slide-out {animation: out 0.3s forwards;}

@keyframes in {
    from { left: -100%; }
    to { left: 0; }
}

@keyframes out {
    from { left: 0; }
    to { left: -100%; }
}

#note, #painting, #trash, #log-out_btn {
    position: absolute;
    left: 10%;
    width: 50%;
    height: 34px;
    background-color: #2b0066;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffd6d6;
    font-size: 17px;
    padding-left: 40px;
}

#note:active, #painting:active, #trash:active {background-color: #370085;}
#note {top: 40px;}
#painting {top: 90px;}
#trash {top: 140px;}

#log-out_btn {
    bottom: 2%;
    background-color: #d03737;
    text-align: left;
    color: #ffd6d6;
}

#log-out {
    position: absolute;
    left: 10px;
}

#log-out_btn:active {background-color: #b31d1d;}

#greetings {
    text-align: center;
    padding-top: 40px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    color: #ae7fce;
}

#delete-message {
    color: #ae7fce;
    text-align: center;
    position: relative;
    top: -20px;
}

a, div {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

#containers {
    width: 90%;
    position: absolute;
    left: 7%;
    top: 150px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 45px 20px;
    padding: 5px;
    box-sizing: border-box;
}

.note-box {
    height: 130px;
    width: 130px;
    background-color: #251e45;
    padding: 10px;
    border-radius: 15px;
    color: #ad7ecc;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding-bottom: 30px;
}

.note-content, .title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.important-note .note-content {top: -45px;}
.important-note .title {top: -30px;}
.note-content {top: -15px;}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    height: 25px;
}

@media (max-width: 360px) {
    .note-box {
        width: 86%;
    }
    #containers {
        gap: 43px 11%;
    }
    #note_icon, #paint_icon, #trash_icon {
        left: 10px;
    }
    .important-icon {
        left: 97%;
    }
}

@media (min-width: 361px) {
    .important-icon {left: 97%;}
}

.important-icon {
    position: relative;
    top: -17px;
    left: 122px;
    color: #b07ecf;
    fill: #b07ecf;
    transform: rotate(15deg);
    pointer-events: none;
}

#note_icon, #paint_icon, #trash_icon {
    color: #ffd6d6;
    position: absolute;
    left: 10px;
    height: 20px;
}

#decide {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: red;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#restore, #delete {
    height: 37px;
    width: 40%;
    background-color: #2b0066;
    border-radius: 15px;
    align-items: center;
    color: #ffd6d6;
}