body {
    background-color: #120f20;
    animation: fade 1s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

h1 {
    color: #ad7ecc;
    font-weight: bold;
}

#menuopener {
    position: absolute;
    left: 25px;
    height: 30px;
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 23px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #575757;
}

#menu-page {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #08002f;
    height: 100%;
    width: 50%;
    transition: left 0.1s ease;
    z-index: 3;
}

#menu-page.slide-in {animation: in 0.3s forwards;}
#menu-page.slide-out {animation: out 1s forwards;}

@keyframes in {
    from { left: -100%; }
    to { left: 0; }
}

@keyframes out {
    from { left: 0; }
    to { left: -100%; }
}

#pages {
    position: sticky;
    top: 3%;
}

#icon {
    position: relative;
    top: 10px;
    left: 20px;
    height: 75px;
    background-color: #251e45;
    border-radius: 50%;
    box-shadow: 0 0 30px 5px #251e45;
}

#username {
    position: relative;
    top: -5px;
    left: 30px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#note, #painting, #trash {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ae7fce;
    font-size: 18px;
}

#note:active, #painting:active, #trash:active {background-color: #251e45;}

#painting {background-color: #251e45;}

#greetings {
    text-align: center;
    padding-top: 30px;
}

a, div {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

#note_icon, #paint_icon, #trash_icon {
    position: absolute;
    left: 10px;
    height: 20px;
}