body {
    background-color: #120f20;
    animation: fade 1s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#profile_pic {
    position: fixed;
    top: 4vh;
    left: 4vh;
    width: 20%;
    border-radius: 50%;
}