body {
    background-color: #120f20;
}

a, h3 {
    color: #ad7ecc;
    font-weight: bold;
}

#back {
    position: relative;
    scale: 2;
}

#pic {
    position: relative;
    height: 65px;
    width: 65px;
    background-color: #251e45;
    border-radius: 50%;
    box-shadow: 0 0 30px 5px #251e45;
    top: 10px;
    left: 20px;
}

#user_icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1.1;
    color: #ad7ecc;
}

#username {
    position: absolute;
    top: 105px;
    left: 25px;
}




#log-out_btn {
    position: absolute;
    bottom: 2%;
    background-color: #d03737;
}