body {
    background-color: #120f20;
}

#menu {
    position: fixed;
    height: 90px;
    width: 200%;
    top: -20px;
    left: -30px;
    background-color: #07031b;
}

#back {
    position: fixed;
    top: 16px;
    left: 16px;
    text-decoration: none;
    font-size: 35px;
    color: #ae7fce;
    background-color: #07031b;
    line-height: 35px;
}

a, div {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#title {
    margin: auto;
    display: block;
    height: 35px;
    width: 70%;
    border: 0px;
    font-size: 25px;
    position: fixed;
    top: 17px;
    left: 45px;
    color: #ae7fce;
    background-color: #07031b;
}

#title::placeholder {
    color: #ae7fce;
    opacity: 1;
}

#title:focus {
    border: none;
    outline: none;
}

#note {
    position: fixed;
    top: 90px;
    height: 85%;
    width: 95%;
    left: 5px;
}

#note_input {
    width: 85%;
    height: 75%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    resize: none;
    outline: none;
    background: #1c0f2fd1;
    color: #c7c5ff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 130px;
    left: 3%;
    z-index: -1;
}

#note_input::placeholder {
    color: #c7c5ff;
}

#sub-menu {
    position: fixed;
    top: 24px;
    left: 90%;
    color: #b17fd1;
}

#save-icon {
    position: fixed;
    top: 40px;
    right: 160px;
    color: #dda9ff;
}

#container {
    background-color: #30007d;
    display: none;
    right: 17px;
    top: 20px;
    position: fixed;
    padding-top: 250px;
    width: 190px;
    border-radius: 15px;
}

#container.show {
    display: block;
    opacity: 1;
}

#save {
    position: fixed;
    top: 35px;
    right: 30px;
    color: #dda9ff;
    height: 36px;
    width: 110px;
    border-radius: 10px;
    font-size: larger;
    padding-left: 60px;
}

#save:hover, #share:hover {
    background-color: #090038;
}

#save:active, #share:active {
    background-color: #090038;
}
/* 
#share {
    position: fixed;
    top: 35px;
    right: 10%;
    color: #dda9ff;
    height: 36px;
    width: 34%;
    border-radius: 10px;
    font-size: larger;
}

#share-icon {
    position: fixed;
    top: 89px;
    right: 48%;
    color: #dda9ff;
} */