body {
    background-color: #120f20;
}

#menu {
    position: fixed;
    height: 90px;
    width: 200%;
    top: -20px;
    left: -30px;
    background-color: #07031b;
}

#back {
    position: fixed;
    top: 16px;
    left: 16px;
    text-decoration: none;
    font-size: 35px;
    color: #ae7fce;
    background-color: #07031b;
    line-height: 35px;
}

a, div {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#title {
    margin: auto;
    display: block;
    height: 35px;
    width: 70%;
    border: 0px;
    font-size: 25px;
    position: fixed;
    top: 17px;
    left: 45px;
    color: #ae7fce;
    background-color: #07031b;
}

#title::placeholder {
    color: #ae7fce;
    opacity: 1;
}

#title:focus {
    border: none;
    outline: none;
}

#note {
    position: fixed;
    top: 90px;
    height: 85%;
    width: 95%;
    left: 5px;
}

#note_input {
    width: 85%;
    height: 75%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    resize: none;
    outline: none;
    background: #1c0f2fd1;
    color: #c7c5ff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 130px;
    left: 3%;
    z-index: -1;
}

#note_input::placeholder {
    color: #c7c5ff;
}

#sub-menu_icon {
    position: fixed;
    top: 24px;
    left: 90%;
    color: #b17fd1;
}

#container {
    background-color: #30007d;
    display: none;
    right: 17px;
    top: 20px;
    position: fixed;
    padding-top: 250px;
    width: 190px;
    border-radius: 15px;
    animation: fadeSlideDown 0.25s ease-out;
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#save {
    position: fixed;
    top: 35px;
    right: 31px;
    color: #dda9ff;
    height: 36px;
    width: 127px;
    border-radius: 10px;
    font-size: large;
    padding-left: 40px;
    background-color: #1c004a;
    display: flex;
    align-items: center;
}

#save-icon {
    position: fixed;
    top: 41px;
    right: 165px;
    color: #dda9ff;
}

#download {
    position: fixed;
    top: 85px;
    right: 31px;
    color: #dda9ff;
    height: 36px;
    width: 127px;
    border-radius: 10px;
    font-size: large;
    padding-left: 40px;
    background-color: #1c004a;
    display: flex;
    align-items: center;
}

#download-icon {
    position: fixed;
    top: 91px;
    right: 165px;
    color: #dda9ff;
}

#important {
    position: fixed;
    top: 135px;
    right: 31px;
    color: #dda9ff;
    height: 36px;
    width: 127px;
    border-radius: 10px;
    font-size: large;
    padding-left: 36px;
    background-color: #1c004a;
    display: flex;
    align-items: center;
}

#important-icon {
    position: fixed;
    top: 141px;
    right: 165px;
    color: #dda9ff;
}

#save:active, #download:active, #important:active {
    background-color: #370085;
}