body {
    background-color: #120f20;
    animation: fade .5s;
}

input {
    font-size: 20px;
}

h1, h3, p, a, button, input, input::placeholder {
    color: #ad7ecc;
}

a, p, h1, h3, button {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

input::selection {
    background: #0066ff46;
    color: #ad7ecc;
}

@keyframes fade {
    0% {opacity: .3;}
    100% {opacity: 1;}
}

#menuopener {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25px;
    height: 30px;
    cursor: pointer;
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 23px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #575757;
}

#menu-page {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #08002f;
    height: 100%;
    width: 50%;
    transition: left 0.1s ease;
    z-index: 11;
}

#menu-page.slide-in {animation: in 0.3s forwards;}
#menu-page.slide-out {animation: out 0.3s forwards;}

@keyframes in {
    from { left: -100%; }
    to { left: 0; }
}

@keyframes out {
    from { left: 0; }
    to { left: -100%; }
}

#pages {
    position: sticky;
    top: 10%;
}

#profile {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 2%;
    left: 10%;
}

#note, #painting, #trash {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#note:active, #painting:active, #trash:active {background-color: #35007e59;}

#note {background-color: #35007e59;}

#greetings {
    text-align: center;
    padding-top: 40px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#search {
    margin: auto;
    display: block;
    border-radius: 20px;
    height: 34px;
    width: 65%;
    border: 0;
    padding-top: 2px;
    padding-left: 20px;
    background-color: #343438;
}

#search::placeholder {
    color: #ae7fce;
    opacity: 1;
}

#search:focus {outline: none;}

#new_note {
    position: fixed;
    right: 8%;
    bottom: 5%;
    z-index: 1;
    scale: 3;
    height: 23px;
}

#new_note path {color: #000000;}
#new_note svg.lucide {fill: #b17fd1;}
#new_note:active {background-color: #a7a7a713;}

#note_icon, #paint_icon, #trash_icon {
    position: absolute;
    left: 10px;
    height: 20px;
}

#containers {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 45px 25px;
    width: 85%;
    box-sizing: border-box;
    padding-bottom: 150px;
}

#folders_menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: overlay;
    padding: 35px 10px;
    width: 90%;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    scrollbar-width: none;
}

.folder-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: 15px;
}

.folder-check-icon {
    color: #ffffff; /*b07ecf*/
    position: absolute;
    left: 10px;
    z-index: 1;
}

.folder-icon {
    transform: scale(2.8, 2.5);
    stroke-width: 1px;
}

.folder-name {
    position: absolute;
    margin-top: 75px;
    margin-left: -13px;
    font-weight: bold;
    width: 55px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
}

#folder_page {
    position: fixed;
    background: #121137;
    height: 400px;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 45px 20px;
    box-sizing: border-box;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: none;
    filter: drop-shadow(0 0 15px #302758);
    opacity: .97;
    padding: 35px 25px;
    overflow-y: auto;
    scrollbar-width: none;
}

.note-box {
    position: relative;
    height: 130px;
    width: 85%;
    background-color: #251e45;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 30px;
}

.selected {background-color: #251e45b5;}

.important-note {
    box-shadow: 0 0 12px 2px #3a3069;
    background: linear-gradient(45deg, #251e45 0, #3a3069 50%, #5e4b91 100%);
}

.important-note.selected {background: linear-gradient(45deg, #251e45b5 0, #3a3069b5 50%, #5e4b91b5 100%);}

.note-content, .title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: absolute;
    width: 87%;
}

.note-content {
    top: -5px;
    height: 150px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lock-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: #251e45c9;
    border-radius: 15px;
    z-index: 1;
}

.lock-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    color: #b17fd1;
    filter: drop-shadow(0 0 3px #b17fd1);
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    top: 155px;
    height: 25px;
    pointer-events: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

@media (max-width: 360px) {
    .note-box {
        width: 92%;
    }
    #containers {
        row-gap: 43px;
        column-gap: 21%;
    }
    #note_icon, #paint_icon, #trash_icon {
        left: 10px;
    }
    .important-icon {
        left: 95%;
    }
}

@media (min-width: 361px) {
    .important-icon {left: 95%;}
}

.important-icon {
    position: relative;
    top: -15px;
    color: #b07ecf;
    fill: #b07ecf;
    transform: rotate(45deg);
    pointer-events: none;
    z-index: 2;
}

.note-check-icon {
    color: #ffffff; /*b07ecf*/
    position: absolute;
    left: 10px;
    display: none;
    z-index: 2;
}

#decide {
    position: fixed;
    width: 101%;
    left: -5px;
    height: 70px;
    background-color: #1a1433;
    bottom: 0px;
    display: none;
    z-index: 10;
}

#blur-background {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background: #1d17374a;
    z-index: 2;
}

#folder_blur {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background: #1d17374a;
    z-index: 1;
}

#move, #lock, #share, #delete, #more {
    height: 3%;
    width: 62px;
    position: fixed;
    bottom: 10px;
    background-color: #1a1433;
    border: none;
    border-radius: 20%;
    padding: 5px;
    padding-bottom: 45px;
    transform: translateX(-50%);
}

#move:active, #lock:active, #share:active, #delete:active, #more:active {background-color: #251e45;}
#move {left: 10%;}
#move:disabled { pointer-events: none; opacity: .5;}
#lock {left: 30%;}
#share {left: 50%;}
#delete {left: 70%;}
#more {left: 90%;}

#move_menu {
    visibility: hidden;
    height: 300px;
    width: 85%;
    border-radius: 25px;
    background: #251e45;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding: 15px;
    z-index: 1;
}

#folder_header_text_1 {
    position: relative;
    left: 10px;
    top: -20px;
}

#folder_header_text_2 {
    position: relative;
    top: -10px;
    left: 5px;
}

#folders {
    height: 80%;
    width: 100%;
    background-color: #1d1737;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#folder_list {
    height: 71%;
    position: relative;
    padding-top: 15px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    scrollbar-width: none;
}

.folders {
    height: 60px;
    display: flex;
    align-items: center;
}

.folders:active {
    background-color: #251e45;
}

.folders_icon {
    position: relative;
    left: 20px;
    scale: 1.2;
}

.folder_name {
    margin-left: 30px;
}

.note_counter {
    position: absolute;
    right: 20px;
    color: #ffffff;
    font-family: monospace;
}

#create_folder-btn {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    text-align: left;
    left: 50%;
    padding-left: 50px;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

#create_folder-btn:active {background-color: #251e45;}

#plus {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    scale: 1.2;
}

#create_folder {
    visibility: hidden;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #251e45;
    position: relative;
    bottom: 82px;
    border-radius: 25px;
    padding: 15px;
}

#folder_namer {
    position: absolute;
    left: 20px;
    top: 65px;
    height: 35px;
    width: 77%;
    background-color: #1d1737;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 20px;
    outline: none;
}

#folder_namer::placeholder {
    color: #ae7fce;
    font-size: 20px;
}

#color_text {
    position: relative;
    left: 5px;
    top: 30px;
}

#dotted_line {
    border-bottom: 2px dotted;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #ae7fce;
    width: 320px;
}

#color_picker {
    position: absolute;
    left: 45%;
    width: 75%;
    transform: translateX(-53%);
    top: 170px;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    column-gap: 11%;
    row-gap: 24px;
}

.colors {
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#color_1 {background-color: #644CE6;    box-shadow: 0 0 5px #644CE6bd;}
#color_2 {background-color: #FF7BCF;    box-shadow: 0 0 5px #FF7BCFbd;}
#color_3 {background-color: #74B8FF;    box-shadow: 0 0 5px #74B8FFbd;}
#color_4 {background-color: #5FE0C6;    box-shadow: 0 0 5px #5FE0C6bd;}
#color_5 {background-color: #AEEA7E;    box-shadow: 0 0 5px #AEEA7Ebd;}
#color_6 {background-color: #FFD48A;    box-shadow: 0 0 5px #FFD48Abd;}
#color_7 {background-color: #FF6A6A;    box-shadow: 0 0 5px #FF6A6Abd;}
#color_8 {background-color: #D3D6DA;    box-shadow: 0 0 5px #D3D6DAbd;}
#color_9 {background-color: #7A5BFF;    box-shadow: 0 0 5px #7A5BFFbd;}
#color_10 {background-color: #FFA36B;   box-shadow: 0 0 5px #FFA36Bbd;}
#color_11 {background-color: #230099;   box-shadow: 0 0 5px #230099bd;}
#color_12 {background-color: #41F0FF;   box-shadow: 0 0 5px #41F0FFbd;}

.check_color {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    stroke-width: 3px;
    visibility: hidden;
}

#chose {
    position: fixed;
    bottom: 15px;
    column-gap: 30px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

#cancel_folder {
    height: 40px;
    width: 140px;
    border-radius: 70% / 300%;
    background: transparent;
    border: none;
    font-size: 17px;
}

#add_folder {
    height: 40px;
    width: 140px;
    border-radius: 70% / 300%;
    background: transparent;
    border: none;
    font-size: 17px;
}

#cancel_folder:active, #add_folder:active {
    background-color: #1d1737;
}

#lock_menu_ask {
    visibility: hidden;
    height: 260px;
    width: 80%;
    border-radius: 25px;
    background: #251e45;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding: 20px;
    z-index: 1;
}

.lock_decide {
    position: fixed;
    left: 0px;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.lock_menu_answere {
    height: 37px;
    width: 40%;
    background-color: transparent;
    border-radius: 15px;
    align-items: center;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

.lock_menu_answere:active {background-color: #1d1737;}

#lock_password_menu {
    visibility: hidden;
    height: 90%;
    width: 90%;
    border-radius: 25px;
    background: #251e45;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    padding: 20px;
    z-index: 1;
}

#lock_password_menu_text {
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

#lock_password, #confirm_lock_password {
    position: absolute;
    left: 20px;
    height: 35px;
    width: 77%;
    background-color: #1d1737;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 20px;
    outline: none;
}

#lock_password {
    top: 37%;
}

#confirm_lock_password {
    top: 55%;
}

#cancel_lock, #continue_lock {
    height: 40px;
    width: 140px;
    border-radius: 70% / 300%;
    background: transparent;
    border: none;
    color: #ae7fce;
    font-size: 17px;
    font-weight: bold;
}

#cancel_lock:active, #continue_lock:active {
    background-color: #1d1737;
}

#continue_lock:disabled {
    opacity: .5;
    pointer-events: none;
}

#unlock_notes {
    visibility: hidden;
    position: fixed;
    background: #251e45;
    height: 370px;
    width: 80%;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    filter: drop-shadow(0 0 15px #302758);
    opacity: .98;
    z-index: 2;
}

#unlock_password {
    background-color: #1d1737;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 20px;
    height: 34px;
    padding-top: 2px;
}

#unlock_btn {
    position: fixed;
    left: 0px;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

#cancel_unlock, #continue_unlock {
    height: 37px;
    width: 40%;
    background-color: transparent;
    border-radius: 15px;
    align-items: center;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

#cancel_unlock:active, #continue_unlock:active {
    background-color: #1d1737;
}

#continue_unlock:disabled {
    opacity: .5;
    pointer-events: none;
}


#more_options {
    visibility: hidden;
    display: grid;
    background-color: #1a1433;
    bottom: 70px;
    right: 15px;
    position: absolute;
    width: 48%;
    height: 170%;
    border-radius: 15px;
    justify-items: center;
}

#mark_important, #export {
    width: 100%;
    height: 100%;
    background-color: #1a1433;
    border: none;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

#mark_important {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#export {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#mark_important:active, #tag_color:active, #duplicate:active, #clear:active, #export:active {background-color: #251e45;}