body {
    background-color: #120f20;
    animation: fade 2s;
}

@keyframes fade {
    0% {opacity: .3;}
    100% {opacity: 1;}
}

#menuopener {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25px;
    height: 30px;
    cursor: pointer;
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 23px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #575757;
}

#menu-page {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #08002f;
    height: 100%;
    width: 50%;
    transition: left 0.1s ease;
    z-index: 2;
}

#menu-page.slide-in {animation: in 0.3s forwards;}
#menu-page.slide-out {animation: out 0.3s forwards;}

@keyframes in {
    from { left: -100%; }
    to { left: 0; }
}

@keyframes out {
    from { left: 0; }
    to { left: -100%; }
}

#note, #painting, #trash, #log-out_btn {
    position: absolute;
    left: 10%;
    width: 50%;
    height: 34px;
    background-color: #2b0066;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffd6d6;
    font-size: 17px;
    padding-left: 40px;
}

#note:active, #painting:active, #trash:active {background-color: #370085;}
#note {top: 40px;}
#painting {top: 90px;}
#trash {top: 140px;}

#log-out_btn {
    bottom: 2%;
    background-color: #d03737;
    text-align: left;
    color: #ffd6d6;
}

#log-out {
    position: absolute;
    left: 10px;
}

#log-out_btn:active {background-color: #b31d1d;}

#greetings {
    text-align: center;
    padding-top: 40px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    color: #ae7fce;
}

#search {
    margin: auto;
    display: block;
    border-radius: 19px;
    height: 34px;
    width: 65%;
    border: 0;
    font-size: 17px;
    padding-left: 20px;
    background-color: #343438;
    color: #ae7fce;
}

#search::placeholder {
    color: #ae7fce;
    opacity: 1;
}

#search:focus {outline: none;}

#new_note {
    position: fixed;
    right: 10%;
    bottom: 5%;
    color: #b17fd1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    scale: 3;
}

#new_note svg.lucide path {color: #000000;}
#new_note svg.lucide {fill: #b17fd1;}
#new_note:active {background-color: #a7a7a713;}

a, div {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

#note_icon, #paint_icon, #trash_icon {
    color: #ffd6d6;
    position: absolute;
    left: 10px;
    height: 20px;
}

#containers {
    width: 90%;
    position: absolute;
    left: 7%;
    top: 240px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 45px 20px;
    box-sizing: border-box;
}

#folder {
    color: #ffffff;
    position: absolute;
    top: -50px;
    left: 10px;
    scale: 2;
    stroke-width: 1.5px;
}

@keyframes fade {
    0% {opacity: .5;}
    100% {opacity: 1;}
}

.note-box {
    position: relative;
    height: 130px;
    width: 130px;
    background-color: #251e45;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 30px;
}

.selected {background-color: #251e45b5;}

.important-note {
    box-shadow: 0 0 12px 2px #3a3069;
    background: linear-gradient(45deg, #251e45 0, #3a3069 50%, #5e4b91 100%);
}

.important-note.selected {background: linear-gradient(45deg, #251e45b5 0, #3a3069b5 50%, #5e4b91b5 100%);}

.note-content, .title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: #ad7ecc;
}

.note-content {
    top: -15px;
    height: 100%;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
    height: 25px;
    pointer-events: none;
}

@media (max-width: 360px) {
    .note-box {
        width: 86%;
    }
    #containers {
        gap: 43px 11%;
    }
    #note_icon, #paint_icon, #trash_icon {
        left: 10px;
    }
    .important-icon {
        left: 94%;
    }
}

@media (min-width: 361px) {
    .important-icon {left: 89%;}
}

.important-icon {
    position: absolute;
    top: -8px;
    color: #b07ecf;
    fill: #b07ecf;
    transform: rotate(15deg);
    pointer-events: none;
}

.check-icon {
    color: #ffffff; /*b07ecf*/
    position: absolute;
    left: 10px;
    display: none;
    z-index: 1;
}

#decide {
    position: fixed;
    width: 101%;
    left: -5px;
    height: 70px;
    background-color: #1a1433;
    bottom: 0px;
    display: none;
}

#blur-background {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1px);
    background: #1d17374a;
    z-index: 0;
}

#move, #lock, #share, #delete, #more {
    height: 3%;
    width: 62px;
    position: fixed;
    bottom: 10px;
    background-color: #1a1433;
    border: none;
    border-radius: 20%;
    color: #ae7fce;
    padding: 5px;
    padding-bottom: 45px;
    transform: translateX(-50%);
}

#move:active, #lock:active, #share:active, #delete:active, #more:active {background-color: #251e45;}
#move {left: 10%;}
#lock {left: 30%;}
#share {left: 50%;}
#delete {left: 70%;}
#more {left: 90%;}
#move_container {position: relative;}

#move_menu {
    visibility: hidden;
    height: 295px;
    width: 85%;
    border-radius: 25px;
    background: #251e45;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -67px;
    padding: 15px;
    z-index: 1;
}

#folder-text {
    color: #ad7ecc;
    position: fixed;
    left: 21px;
    top: 0;
}

#folders {
    height: 70%;
    width: 100%;
    background-color: #1d1737;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    border-radius: 15px;
}

#create_folder-btn {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 20px;
    text-align: left;
    left: 50%;
    padding-left: 50px;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: #ae7fce;
    font-size: 1.17em;
}

#create_folder-btn:active {background-color: #251e45;}

#plus {
    position: fixed;
    left: 20px;
    top: 10px;
    scale: 1.2;
}

#create_folder {
    visibility: hidden;
    height: 340px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #251e45;
    position: fixed;
    bottom: 0%;
    border-radius: 25px;
}

#folder_text {
    text-align: start;
    padding-left: 30px;
    color: #ae7fce;
}

#folder_namer {
    position: absolute;
    left: 20px;
    top: 65px;
    height: 35px;
    width: 77%;
    background-color: #1d1737;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    color: #ae7fce;
    font-size: 20px;
    padding-top: 2px;
    outline: none;
}

#folder_namer::placeholder {
    color: #ae7fce;
    font-size: 20px;
}

#color_text {
    position: fixed;
    left: 20px;
    top: 100px;
    color: #ae7fce;
}

#dotted_line {
    border-bottom: 2px dotted;
    position: relative;
    top: 60px;
    margin-left: 34px;
    margin-right: 23%;
    left: 40px;
    color: #ae7fce;
}

#color_picker {
    position: absolute;
    left: 45%;
    width: 73%;
    transform: translateX(-53%);
    top: 170px;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    column-gap: 11%;
    row-gap: 24px;
}

.colors {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#color_1 {background-color: #B388EB;    box-shadow: 0 0 5px #B388EBbd;}
#color_2 {background-color: #FF8ED4;    box-shadow: 0 0 5px #FF8ED4bd;}
#color_3 {background-color: #7FB3FF;    box-shadow: 0 0 5px #7FB3FFbd;}
#color_4 {background-color: #70E6D9;    box-shadow: 0 0 5px #70E6D9bd;}
#color_5 {background-color: #A0F9B0;    box-shadow: 0 0 5px #A0F9B0bd;}
#color_6 {background-color: #FFD580;    box-shadow: 0 0 5px #FFD580bd;}
#color_7 {background-color: #FF6B6B;    box-shadow: 0 0 5px #FF6B6Bbd;}
#color_8 {background-color: #C4C4C4;    box-shadow: 0 0 5px #C4C4C4bd;}
#color_9 {background-color: #6C5CE7;    box-shadow: 0 0 5px #6C5CE7bd;}
#color_10 {background-color: #FFA75F;   box-shadow: 0 0 5px #FFA75Fbd;}
#color_11 {background-color: #3D3D5C;   box-shadow: 0 0 5px #3D3D5Cbd;}
#color_12 {background-color: #72F0FF;   box-shadow: 0 0 5px #72F0FFbd;}

.check_color {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    stroke-width: 3px;
    visibility: hidden;
}

#chose {
    position: fixed;
    bottom: 15px;
    column-gap: 30px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    color: #ae7fce;
}

#cancel {
    height: 40px;
    width: 140px;
    border-radius: 70% / 300%;
    background: transparent;
    border: none;
    color: #ae7fce;
    font-size: 17px;
}

#add {
    height: 40px;
    width: 140px;
    border-radius: 70% / 300%;
    background: transparent;
    border: none;
    color: #ae7fce;
    font-size: 17px;
}

#cancel:active, #add:active {
    background-color: #1d1737;
}

#more_options {
    visibility: hidden;
    display: grid;
    background-color: #1a1433;
    bottom: 70px;
    right: 15px;
    position: absolute;
    width: 46%;
    height: 335%;
    border-radius: 15px;
    gap: 15px;
    justify-items: center;
    padding: 15px;
}

#mark_important, #tag_color, #duplicate, #clear, #export {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    background-color: #1a1433;
    color: #ae7fce;
    border: none;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
}

#mark_important:active, #tag_color:active, #duplicate:active, #clear:active, #export:active {background-color: #251e45;}